@import "tailwindcss";
@theme {
  --color-brand-50:  #F8F5FA;
  --color-brand-100: #F4EFF6;
  --color-brand-200: #EDE6F0;
  --color-brand-300: #E2D7E7;
  --color-brand-400: #D9C6DB;
  --color-brand-500: #D9C6DB;
  --color-brand-600: #9A7FA3;
  --color-brand-700: #7C5F86;
  --color-brand-800: #5F4369;
  --color-brand-900: #40294B;

  --color-accent-400: #E26D8C;
  --color-accent-500: #D85C7F;

  --color-ink-primary: #1F2937;
  --color-ink-secondary: #475569;
  --color-ink-muted: #64748B;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

html, body {
  overflow-x: hidden;
}
